<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 08 - WebBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19649A501CEF3B4900C9656C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19649A641CEF3B4A00C9656C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19649A6F1CEF3B4A00C9656C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
