<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 10 - RandomGradientColorMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>197D21751CF324660019F4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197D21891CF324660019F4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197D21941CF324660019F4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
