<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 30 - PopoverMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19EC3CAA1D30026700D0A792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19EC3CBE1D30026700D0A792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19EC3CC91D30026700D0A792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
