<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 26 - 3DTouchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B7A9551D14274B00F62CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B7A9691D14274B00F62CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B7A9741D14274B00F62CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
