<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 35 - SimpleWeatherReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19DCDDEC1D37EA2A00AADF5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DCDE001D37EA2A00AADF5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DCDE0B1D37EA2A00AADF5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
