<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 27 - TableViewIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19A73D081D184F4A00B4E46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A73D1C1D184F4A00B4E46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A73D271D184F4A00B4E46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
