<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 22 - CollapsibleTableSection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1903C8D31D070FD500CD0CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1903C8E71D070FD500CD0CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1903C8F21D070FD500CD0CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
