<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 24 - AnimateTableViewCell2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1993CE541D0C5790008B9D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1993CE681D0C5790008B9D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1993CE731D0C5790008B9D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
