<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 07 - DidiTaxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1911CABC1CEDF08C000ACEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1911CAD01CEDF08D000ACEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1911CADB1CEDF08D000ACEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
